<?xml version="1.0"?>

<launch>
  <arg name="world_name" default="$(find uol_cmp9767m_base)/worlds/cmp9767m_2.world"/>
  <arg name="fake_localisation" default="false" doc="fake the localisation, sets map_server and world_tf to true."/>
  <!-- <arg name="world_tf" default="$(arg fake_localisation)" doc="provide a tf link to the world (default: false)"/> -->
  <arg name="world_tf" default="true" doc="provide a tf link to the world (default: false)"/>
  <!-- <arg name="map_server" default="$(arg fake_localisation)" doc="provide a tf link between map and world and run a map server (default: false)"/> -->
  <arg name="map_server" default="true" doc="provide a tf link between map and world and run a map server (default: false)"/>
  <arg name="gui" default="true" doc="run with visible gazebo"/>
  <arg name="explorer_robot" default="true" doc="launch a second Thorvald" />
  <!--  nothing arg is only to run simulation with 3 crop lines-->
  <arg name="nothing" default="false" />

  
  <!-- testing scenarios -->
  <arg name="test1" default="false" doc="provide test world 1 as map(default: false)"/>
  <arg name="test2" default="false" doc="provide test world 2 as map(default: false)"/>
  <arg name="test3" default="false" doc="provide test world 3 as map(default: false)"/>
  <arg name="test4" default="false" doc="provide test world 4 as map(default: false)"/>

  <!-- Launch the Gazebo world.  -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg nothing)">
    <arg name="use_sim_time" default="true"/>
    <arg name="world_name" value="$(find uol_cmp9767m_base)/worlds/cmp9767m_2.world"/>
    <arg name="gui" value="$(arg gui)" />
  </include>
  <!-- launch testing scenario worlds -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg test1)">
    <arg name="use_sim_time" default="true"/>
    <arg name="world_name" value="$(find uol_cmp9767m_base)/worlds/cmp9767m_paper_1.world"/>
    <arg name="gui" value="$(arg gui)" />
  </include>
  <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg test2)">
    <arg name="use_sim_time" default="true"/>
    <arg name="world_name" value="$(find uol_cmp9767m_base)/worlds/cmp9767m_paper_2.world"/>
    <arg name="gui" value="$(arg gui)" />
  </include>
  <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg test3)">
    <arg name="use_sim_time" default="true"/>
    <arg name="world_name" value="$(find uol_cmp9767m_base)/worlds/cmp9767m_paper_3.world"/>
    <arg name="gui" value="$(arg gui)" />
  </include>
  <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg test4)">
    <arg name="use_sim_time" default="true"/>
    <arg name="world_name" value="$(find uol_cmp9767m_base)/worlds/cmp9767m_paper_4.world"/>
    <arg name="gui" value="$(arg gui)" />
  </include>

  <!-- Robot launch-->  
  <include file="$(find uol_cmp9767m_base)/launch/thorvald.launch">
    <arg name="robot_name" value="thorvald_001" />
    <!-- <arg name="x" value="5" /> -->
    <arg name="x" value="-8" />
    <arg name="y" value="-3.2" />
  </include>
  <include file="$(find uol_cmp9767m_base)/launch/thorvald_explorer.launch" if="$(arg explorer_robot)">
    <arg name="robot_name" value="thorvald_002" />
  </include>

  <group if="$(arg world_tf)">
    <node
      name="world_tf_thorvald_001"
      pkg="tf"
      type= "static_transform_publisher"
      args="0 0 0 0 0 0 /world /thorvald_001/odom 100" />
    <node
      name="world_tf_thorvald_002"
      pkg="tf"
      type= "static_transform_publisher"
      args="0 0 0 0 0 0 /world /thorvald_002/odom 100"  if="$(arg explorer_robot)"/>
  </group>
  <group if="$(arg map_server)">
    <node
      name="map_server"
      pkg="map_server"
      type= "map_server"
      args="$(find uol_cmp9767m_base)/maps/cropped.yaml" />
    <node
      name="world_tf_map"
      pkg="tf"
      type= "static_transform_publisher"
      args="0 0 0 0 0 0 /world /map 100" />
  </group>
</launch>
